:root {
  --primary: rgba(246, 80, 82, 1);
  --second: rgba(21, 126, 236, 1);
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat", sans-serif;
}

.navbar .brand {
  font-family: "Katibeh", cursive;
  font-size: 40px;
}

.navbar .nav-item button {
  background-color: var(--primary);
  border-radius: 25px;
  width: 120px;
  color: white;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: red;
}

.navbar .nav-item button:hover {
  border-color: var(--primary);
  background-color: white;
  border-style: solid;
  box-sizing: border-box;
}
/* Hero */
.hero {
  height: 500px;
  padding: 0px 50px;
}

.hero .col h1 {
  font-size: 18px;
  line-height: 30px;
}

.hero .col p {
  font-size: 18px;
  line-height: 30px;
}

.hero .btn {
  background-color: var(--primary);
  color: white;
  border-radius: 25px;
  font-weight: 500;
  width: 120px;
  margin-top: 50px;
}
.footer {
  background-color: var(--primary);
  margin-top: 100px;
}
.footer .brand {
  font-family: "Katibeh", cursive;
  font-size: 50px;
}

.footer .col p {
  font-weight: 600;
}

.footer .kotak-saran {
  height: 30px;
  background-color: white;
  margin-top: 5px;
  color: black;
  font-size: 13px;
  border-radius: 5px;
  padding: 5px 0 0 5px;
}

.footer .kotak-feedback {
  height: 70px;
  background-color: white;
  margin-top: 5px;
  color: black;
  font-size: 13px;
  border-radius: 5px;
  padding: 5px 0 0 5px;
}

.footer .btnkirim {
  height: 40px;
  margin-left: 280px;
  padding-top: 9px;
  text-align: center;
  margin-top: 5px;
  border: 2px solid white;
  border-radius: 10px;
}

/* LOGIN */

.center h1 {
  text-align: center;
  font-family: "Katibeh", cursive;
  font-size: 60px;
}

.center p {
  /* text-align: center; */
}
.center form {
  padding: 0 35px;
  box-sizing: border-box;
}
.input-field {
  display: flex;
  flex-direction: column;
}
.input {
  height: 45px;
  border: none;
  outline: 1px solid silver;
  border-radius: 30px;
  color: #000000;
  padding: 0 0 0 30px;
  background: rgba(255, 255, 255);
}
i {
  position: relative;
  top: -35px;
  left: 17px;
  color: #fff;
}
::-webkit-input-placeholder {
  color: #494343;
}
.submit {
  border: none;
  border-radius: 30px;
  font-size: 15px;
  height: 45px;
  outline: none;
  background: rgba(246, 80, 82, 1);
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  color: white;
}
.submit:hover {
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.buttom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  margin-top: 5px;
}
.left {
  display: flex;
}
label a {
  text-decoration: none;
}

/* Input */
.input-box {
  position: relative;
  height: 60px;
  width: 800px;
  background: #fff;
  margin: 150px 20px 50px 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.input-box i,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-box i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}
.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}
.input-box .button {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  background-color: var(--primary);
  cursor: pointer;
}
.input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}

.modal-body .btn-read {
  background-color: var(--primary);
  color: white;
  border-radius: 24px;
  font-weight: 500;
  width: 100px;
}
