:root {
  --primary: rgba(246, 80, 82, 1);
  --second: rgba(21, 126, 236, 1);
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  top: 0;
  height: 62px;
  background-color: white;
  display: flex;
  padding: 0 5%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar > p {
  font-family: "Katibeh", cursive;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
}

.navbar .title {
  margin-bottom: 20px;
}

.navbar .nav-menu p {
  margin-left: 25px;
}

.nav-menu {
  display: flex;
  gap: 25px;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  color: black;
}

.nav-menu .button-in {
  background-color: var(--primary);
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 39px;
  border-radius: 25px;
}

.container {
  padding: 0 10%;
}

/* READING BOOK */
.reading-section {
  height: max-content;
  padding-top: 100px;
  text-align: center;
  margin: 0% 5%;
}

.reading-section .reading-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 40px 0; */
  /* padding: 0 10%; */
}
.reading-section .book-read {
  display: grid;
  flex-direction: row;
  text-align: left;
  gap: 25px;
  padding: 30px 0px;
  grid-template-columns: repeat(5, 2fr);
}

.reading-section .book-read img,
.book-content {
  width: 150px;
  text-align: center;
}

.reading-section .book-read p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 15px;
}

.reading-section .reading-content h1 {
  font-weight: 600;
  font-size: 25px;
}

.reading-section .reading-content a {
  font-weight: 500;
  font-size: 20px;
  color: rgba(21, 126, 236, 1);
  text-decoration: none;
}

/* FOOTER */
.footer-section {
  height: max-content;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer-section .footer-content {
  display: flex;
  padding: 21px 5%;
  align-items: center;
}

.footer-section .title-footer h1 {
  font-size: 50px;
  font-family: "Katibeh", cursive;
  font-weight: 400;
}

.footer-section .title-footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 500px;
  margin: 8px 0;
  color: white;
}

.call-me {
  padding: 0 235px;
  color: white;
}

.call-me p {
  font-weight: 600;
}

.call-me .kotak-saran {
  width: 400px;
  height: 30px;
  background-color: white;
  margin-top: 5px;
  color: black;
  font-size: 13px;
  border-radius: 5px;
  padding: 5px 0 0 5px;
}

.call-me .kotak-feedback {
  width: 400px;
  height: 70px;
  background-color: white;
  margin-top: 5px;
  color: black;
  font-size: 13px;
  border-radius: 5px;
  padding: 5px 0 0 5px;
}

.call-me .btnkirim {
  width: 120px;
  height: 40px;
  margin-left: 280px;
  padding-top: 9px;
  text-align: center;
  margin-top: 5px;
  border: 2px solid white;
  border-radius: 10px;
}

.copyrights {
  padding: 0% 5%;
  text-align: left;
  width: 100%;
}

.copyrights p {
  font-size: 15px;
  font-weight: 500;
  padding: 12px 0px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .nav-menu {
    display: none;
  }
}
